.footer {
  padding-left: 48px;
  padding-right: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1184px;
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width:1023px) {
  .footer {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width:767px) {
  .footer {
    padding-top: 32px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    padding-left: 16px;
    padding-right: 0;
  }
}
