.footer {
  margin-left: 48px;
  margin-right: 48px;
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width:1023px) {
  .footer {
    padding-top: 88px;
  }
}

@media screen and (max-width:767px) {
  .footer {
    padding-top: 32px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
  }
}
